.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed; /* or absolute */
    top: 25%;
    left: 25%;

    margin: 10px;
    padding: 10px;
    border: grey 1px dotted;
    border-radius: 5px;
    width: 600px;
}
.card {
    display: flex;
    flex-wrap: wrap;
    margin:5px 30px;
    padding: 5px;
    border: grey 1px dotted;
    border-radius: 5px;
    width: 70px;
    height: 100px;
    text-align: center;
}
.cardHolder {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    padding: 10px;
    border: grey 1px dotted;
    border-radius: 5px;
    width: 500px;
}

input {
    height: 30px;
    margin: 10px;
}

button {
    height: 50px;
    width: 150px;
    color: #eeeef3;
    background-color: #adadad;
    text-transform: uppercase;
}